---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, GITHUB_PROFILE_URL, TWITTER_PROFILE_URL } from "../config";
---

<header>
  <a href="/">
    <img
      src="/logos/sheep-transparent.svg"
      width="128px"
      height="128px"
      alt="Pixel Sheep Logo"
    />
    <h2>
      {SITE_TITLE}
    </a>
  </h2>
    </h2>
  </a>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <!-- <HeaderLink href="/about">About</HeaderLink> -->
    <HeaderLink href={TWITTER_PROFILE_URL} target="_blank">Twitter</HeaderLink>
    <HeaderLink href={GITHUB_PROFILE_URL} target="_blank">GitHub</HeaderLink>
  </nav>
</header>
<style>
  .homepage-link {
    color: rgb(34, 34, 34);
  a {
    color: inherit;
    text-decoration: none;
  }
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
    margin: 0;
    margin-bottom: 0.5em;
  }
</style>
