---
import Container from "@components/Container.astro";
---

<div class="w-full">
    <Container>
        <div class="flex pt-6 justify-start">
            <img src="/sheep.svg" id="icon" class="size-32 not-dark:invert-80" />
        </div>
    </Container>
</div>
